.item-card{

    display: flex;
    flex-direction: column;

    .item-card-img{
        position: relative;
        height: 170px;
        background-size: cover;
        background-position: center center;

    }

    .item-card-body{
        border: 1px solid pink;
    }

    .item-card-text{

        .item-card-text-tag{
            font-size: 14px;
        }
        .item-card-text-date{
            color:#727679;
            font-size: 12px;
        }

    } 
    
    .item-card-options{

        .item-card-options-item:hover{
            color: #EE7800;

            .item-card-options-img1{
                display: none;
            }

        }

    }
    




}