
// navbar

.navbar{
        .nav-item:hover{
            @include media-breakpoint-up(xl){
                border-bottom:5px solid #EE7800;
            }
        } 
}

.user-wrapper{
    .user-wrapper:hover a{
        text-decoration: none;
    }
}

.bg-cover{
    background-size: cover;
    background-position: center center;
}

.top-video{

    .top-video-img{
        height: 86px;
    }
}

// search-tab

.search-tab{
    $search-tab-color:#43484C;
    $search-tab-bg: #F4F4F4;
    

    .nav-link{
        color:$search-tab-color;
        background-color: $search-tab-bg;

    }

    #myTabContent{
        background-color: $search-tab-bg;

        button{
            background-color: #fff;
            
            &:hover{
                color:#EE7800;
                border-color: #EE7800;
            }

            &.border{
                border-color: transparent;

    
            }

        }
    }

}

.no-padding{
    padding-top: 0;
    padding-bottom: 0;
}














// foooter

.footer{

    .footer-block:nth-child(1), .footer-block:nth-child(2){
        border-right: 1px solid #d1d2d3;
    }


    .footer-media{

        .footer-media-circle-lg{
            width:50px;
            height: 50px;
            border-radius: 50px;
            background-color: #d1d2d3;
            position: relative;
            border:1px solid #d1d2d3;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items:center;
        }

    }
    .footer-note{
        .footer-note-item:nth-child(1), .footer-note-item:nth-child(2){
            border-right: 1px solid #d1d2d3;

        }
    }

    .footer-divider-horizon{
        width: 90%;
        border-top: 1px solid #d1d2d3;
        margin-left: auto;
        margin-right: auto;
    }


}


