// navbar-mobile
.nb-mobile{
    display: block;
    padding: 1rem;

    position: fixed;
    top: 66px;
    left:-100vw;
    width: 100vw;
    transition: left 0.5s;
    z-index: 10;
    
    ul li{
        border-bottom: 1px solid #D7D7D7;
        list-style: none;
    }
    li img{
        display: inline-block;
    }
    &.active{
        position: fixed;
        top: 66px;
        left:0;
        width: 100vw;
    }
}
@media screen and (min-width: 992px){
    .nb-mobile, .nb-mobile-icon{
        display: none;
    }
  }

@media screen and (min-width: 768px) and (max-width: 992px){
    .nb-mobile{
        background: blue;
    }
    .nb-mobile-icon{
        display: block;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){

    .nb-mobile{
        background: purple;
        width: 80vw;
        &.active{
            width: 80vw;
        }
    }
    .nb-mobile-icon{
        display: block;
    }
    #navbarSupportedContent{
        display: none;
    }

}

@media screen and (max-width: 576px){
    .nb-mobile{
        background: yellow;
    }
    
}
